{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 19,
  "links": [],
  "panels": [
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "Overview counter stats over 24 hours.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 5,
        "x": 0,
        "y": 0
      },
      "id": 16,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "auto",
        "wideLayout": true
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": true,
          "expr": "round(sum(increase(http_mux_requests_total{juju_charm=\"ubuntu-insights-server-k8s\"}[24h])), 1)",
          "legendFormat": "Total Requests",
          "range": true,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": true,
          "expr": "round(sum(increase(ingest_processor_files_processed_total{juju_charm=\"ubuntu-insights-server-k8s\"}[24h])), 1)",
          "hide": false,
          "legendFormat": "Successful Uploads",
          "range": true,
          "refId": "B"
        }
      ],
      "title": "Overview (24h)",
      "type": "stat"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 8
      },
      "id": 9,
      "panels": [],
      "title": "General",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "Reports cache usage in MB per source averaged over Juju units. Based on metrics from the ingest service.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "continuous-GrYlRd",
            "seriesBy": "last"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "axisSoftMax": 1000,
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "scheme",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "line"
            }
          },
          "mappings": [],
          "max": 1000,
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "decmbytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 10,
        "w": 12,
        "x": 0,
        "y": 9
      },
      "id": 12,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull",
            "mean"
          ],
          "displayMode": "table",
          "placement": "bottom",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "avg(sum by(juju_unit) (ingest_processor_cache_size_bytes{juju_charm=\"ubuntu-insights-server-k8s\"})) / 1e+06",
          "hide": false,
          "instant": true,
          "legendFormat": "Total",
          "range": false,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "avg by(app) (sum by(juju_unit, app) (ingest_processor_cache_size_bytes{juju_charm=\"ubuntu-insights-server-k8s\"})) / 1e+06",
          "hide": false,
          "instant": false,
          "legendFormat": "{{app}}",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Unit Averaged Reports Cache Usage",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "Reports cache metrics as reported by the ingest service. Count is the number of reports in the cache, usage is total size of all the reports in the cache.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "cellOptions": {
              "type": "auto"
            },
            "filterable": true,
            "inspect": true
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Value #Cache Size"
            },
            "properties": [
              {
                "id": "custom.cellOptions",
                "value": {
                  "mode": "basic",
                  "type": "color-background"
                }
              },
              {
                "id": "custom.width",
                "value": 80
              },
              {
                "id": "color",
                "value": {
                  "mode": "continuous-GrYlRd"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Value #Cache Size Bytes"
            },
            "properties": [
              {
                "id": "custom.cellOptions",
                "value": {
                  "mode": "basic",
                  "type": "gauge",
                  "valueDisplayMode": "color"
                }
              },
              {
                "id": "unit",
                "value": "decmbytes"
              },
              {
                "id": "max"
              },
              {
                "id": "color",
                "value": {
                  "mode": "continuous-GrYlRd"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Source"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 285
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Juju unit"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 265
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 10,
        "w": 12,
        "x": 12,
        "y": 9
      },
      "id": 13,
      "options": {
        "cellHeight": "sm",
        "footer": {
          "countRows": false,
          "enablePagination": true,
          "fields": [
            "Value #Cache Size",
            "Value #Cache Size Bytes"
          ],
          "reducer": [
            "sum"
          ],
          "show": true
        },
        "showHeader": true,
        "sortBy": []
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sum by(juju_unit, app) (ingest_processor_cache_size_bytes{juju_charm=\"ubuntu-insights-server-k8s\"}) / 1e+06",
          "format": "table",
          "instant": true,
          "legendFormat": "{{app}} - a",
          "range": false,
          "refId": "Cache Size Bytes"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "sum by(juju_unit, app) (ingest_processor_cache_size{juju_charm=\"ubuntu-insights-server-k8s\"})",
          "format": "table",
          "hide": false,
          "instant": true,
          "legendFormat": "__auto",
          "range": false,
          "refId": "Cache Size"
        }
      ],
      "title": "Reports Cache Metrics",
      "transformations": [
        {
          "id": "merge",
          "options": {}
        },
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Time": true
            },
            "indexByName": {
              "Time": 0,
              "Value #Cache Size": 3,
              "Value #Cache Size Bytes": 4,
              "app": 2,
              "juju_unit": 1
            },
            "renameByName": {
              "Time": "",
              "Value": "Reports Cache Size",
              "Value #A": "Reports in cache",
              "Value #B": "Reports cache usage",
              "Value #Cache Size": "Count",
              "Value #Cache Size Bytes": "Usage",
              "app": "Source",
              "juju_unit": "Juju unit"
            }
          }
        }
      ],
      "type": "table"
    },
    {
      "datasource": {
        "type": "loki",
        "uid": "${lokids}"
      },
      "fieldConfig": {
        "defaults": {},
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 24,
        "x": 0,
        "y": 19
      },
      "id": 4,
      "options": {
        "dedupStrategy": "none",
        "enableInfiniteScrolling": false,
        "enableLogDetails": true,
        "showControls": true,
        "showTime": false,
        "sortOrder": "Descending",
        "syntaxHighlighting": true,
        "wrapLogMessage": false
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "loki",
            "uid": "${lokids}"
          },
          "direction": "backward",
          "editorMode": "code",
          "expr": "{juju_application=\"ubuntu-insights-server-k8s\"}",
          "hide": false,
          "queryType": "range",
          "refId": "C"
        }
      ],
      "title": "Ubuntu Insights Logs",
      "type": "logs-new"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 28
      },
      "id": 7,
      "panels": [],
      "title": "Web Service",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "Web service request counts over the selected range.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "green",
            "mode": "fixed"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#ccccdc"
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 29
      },
      "id": 14,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "round(sum by(path) (increase(http_endpoint_requests_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__range])), 1)",
          "format": "time_series",
          "hide": false,
          "interval": "2m",
          "legendFormat": "__auto",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Request Counts",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "The 95th percentile processing duration.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "s"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 29
      },
      "id": 2,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "histogram_quantile(0.95, sum by(le, path) (rate(http_endpoint_request_duration_seconds_bucket{juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval])))",
          "format": "time_series",
          "hide": false,
          "interval": "30s",
          "legendFormat": "{{path}}",
          "range": true,
          "refId": "B"
        }
      ],
      "title": "P95 Request Duration",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "The HTTP request error rate (non-2xx response) over a five minute interval grouped by endpoint.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "continuous-GrYlRd",
            "seriesBy": "last"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "max": 1,
          "min": 0,
          "noValue": "0%",
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "percentunit"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 0,
        "y": 37
      },
      "id": 18,
      "options": {
        "legend": {
          "calcs": [
            "max",
            "mean",
            "last"
          ],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum(increase(http_mux_requests_total{code!~\"2.*\",juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]) OR (http_endpoint_requests_total{juju_charm=\"ubuntu-insights-server-k8s\"} * 0)) / sum(increase(http_mux_requests_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]))",
          "hide": false,
          "interval": "30s",
          "legendFormat": "All",
          "range": true,
          "refId": "B"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum by(path) (increase(http_endpoint_requests_total{code!~\"2.*\",juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]) OR (http_endpoint_requests_total{juju_charm=\"ubuntu-insights-server-k8s\"} * 0)) / sum by(path) (increase(http_endpoint_requests_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]))",
          "interval": "30s",
          "legendFormat": "__auto",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Request Error Rate by Endpoint",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "HTTP request response codes within a five minute interval.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 25,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 12,
        "y": 37
      },
      "id": 19,
      "options": {
        "legend": {
          "calcs": [
            "max",
            "mean",
            "last"
          ],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum by(code) (increase(http_mux_requests_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]))",
          "interval": "30s",
          "legendFormat": "__auto",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Request Response Codes",
      "type": "timeseries"
    },
    {
      "collapsed": false,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 46
      },
      "id": 8,
      "panels": [],
      "title": "Ingest Service",
      "type": "row"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "Ingest service amount processed over the selected range.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "green",
            "mode": "fixed"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "#ccccdc"
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 47
      },
      "id": 23,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "percentChangeColorMode": "standard",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showPercentChange": false,
        "textMode": "value_and_name",
        "wideLayout": true
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "round(sum by(app) (increase(ingest_processor_files_processed_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__range])), 1)",
          "format": "time_series",
          "interval": "2m",
          "legendFormat": "__auto",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Amount Processed",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "The 95th percentile process duration.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "s"
        },
        "overrides": [
          {
            "__systemRef": "hideSeriesFrom",
            "matcher": {
              "id": "byNames",
              "options": {
                "mode": "exclude",
                "names": [
                  "{app=\"windows\", instance=\"stg-ubuntu-insights_8a703e15-cec4-4a0c-8776-de7560c4ce46_ubuntu-insights-server-k8s_ubuntu-insights-server-k8s/2\", job=\"juju_stg-ubuntu-insights_8a703e15_ubuntu-insights-server-k8s_prometheus_scrape-2\", juju_application=\"ubuntu-insights-server-k8s\", juju_charm=\"ubuntu-insights-server-k8s\", juju_model=\"stg-ubuntu-insights\", juju_model_uuid=\"8a703e15-cec4-4a0c-8776-de7560c4ce46\", juju_unit=\"ubuntu-insights-server-k8s/2\"}"
                ],
                "prefix": "All except:",
                "readOnly": true
              }
            },
            "properties": [
              {
                "id": "custom.hideFrom",
                "value": {
                  "legend": false,
                  "tooltip": false,
                  "viz": true
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 47
      },
      "id": 21,
      "options": {
        "legend": {
          "calcs": [
            "lastNotNull"
          ],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "histogram_quantile(0.95,sum by (le, app) (rate(ingest_processor_process_duration_seconds_bucket{juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval])))",
          "format": "time_series",
          "hide": false,
          "interval": "30s",
          "legendFormat": "{{path}}",
          "range": true,
          "refId": "B"
        }
      ],
      "title": "P95 Process Duration",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "The processing error rate over the selected interval.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "continuous-GrYlRd",
            "seriesBy": "last"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "max": 1,
          "min": 0,
          "noValue": "0%",
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "green"
              }
            ]
          },
          "unit": "percentunit"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 0,
        "y": 55
      },
      "id": 24,
      "options": {
        "legend": {
          "calcs": [
            "max",
            "mean",
            "last"
          ],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum(increase(ingest_processor_files_processed_total{result!=\"success\",juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]) or on() vector(0)) / sum(increase(ingest_processor_files_processed_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]))",
          "hide": false,
          "instant": false,
          "interval": "30s",
          "legendFormat": "All",
          "range": true,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum by (app)(increase(ingest_processor_files_processed_total{result!=\"success\",juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]) OR (ingest_processor_files_processed_total{juju_charm=\"ubuntu-insights-server-k8s\"} * 0)) / sum by (app)(increase(ingest_processor_files_processed_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]))",
          "hide": false,
          "interval": "30s",
          "legendFormat": "__auto",
          "range": true,
          "refId": "B"
        }
      ],
      "title": "Processing Error Rate",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "Ingest service process results over the selected interval. ",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 25,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "noValue": "0",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 12,
        "y": 55
      },
      "id": 22,
      "options": {
        "legend": {
          "calcs": [
            "max",
            "mean",
            "last"
          ],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum by(result) (increase(ingest_processor_files_processed_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__rate_interval]))",
          "interval": "30s",
          "legendFormat": "__auto",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Process Results",
      "type": "timeseries"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${prometheusds}"
      },
      "description": "Ingest service processor errors over the selected interval.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisBorderShow": false,
            "axisCenteredZero": false,
            "axisColorMode": "text",
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "barWidthFactor": 0.6,
            "drawStyle": "line",
            "fillOpacity": 25,
            "gradientMode": "hue",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "insertNulls": false,
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "normal"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "noValue": "0",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green"
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 9,
        "w": 12,
        "x": 0,
        "y": 64
      },
      "id": 26,
      "options": {
        "legend": {
          "calcs": [
            "max",
            "mean",
            "last"
          ],
          "displayMode": "table",
          "placement": "right",
          "showLegend": true
        },
        "tooltip": {
          "hideZeros": false,
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "12.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum (increase(ingest_processor_errors_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__interval]) or on() vector(0))",
          "hide": false,
          "instant": false,
          "interval": "30s",
          "legendFormat": "All",
          "range": true,
          "refId": "A"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${prometheusds}"
          },
          "editorMode": "code",
          "expr": "sum by(app) (increase(ingest_processor_errors_total{juju_charm=\"ubuntu-insights-server-k8s\"}[$__interval]) or (ingest_processor_files_processed_total{juju_charm=\"ubuntu-insights-server-k8s\"} * 0)) ",
          "interval": "30s",
          "legendFormat": "__auto",
          "range": true,
          "refId": "B"
        }
      ],
      "title": "Processor Errors",
      "type": "timeseries"
    }
  ],
  "preload": false,
  "refresh": "10s",
  "schemaVersion": 41,
  "tags": [],
  "templating": {
    "list": [
      {
        "current": {
          "text": "All",
          "value": [
            "$__all"
          ]
        },
        "includeAll": true,
        "label": "Loki datasource",
        "multi": true,
        "name": "lokids",
        "options": [],
        "query": "loki",
        "refresh": 1,
        "regex": "",
        "type": "datasource"
      },
      {
        "current": {
          "text": "All",
          "value": [
            "$__all"
          ]
        },
        "includeAll": true,
        "label": "Prometheus datasource",
        "multi": true,
        "name": "prometheusds",
        "options": [],
        "query": "prometheus",
        "refresh": 1,
        "regex": "",
        "type": "datasource"
      }
    ]
  },
  "time": {
    "from": "now-12h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Ubuntu Insights Monitoring",
  "uid": "428b1a0c5cdaeca6fb21843f5e02036b3f282a44",
  "version": 2
}
