name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    name: "Run QA tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv tool install --python-preference only-managed tox --with tox-uv

      - name: Run tests
        run: |
          tox

      - name: Upload test artifacts
        uses: actions/upload-artifact@v5
        with:
          name: tests-${{ github.job }}-artifacts-${{ github.run_attempt }}
          path: coverage.xml

      - name: Upload to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          disable_search: true
